.container-g{
  font-family: arial;
  padding-top: 40px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bt-MG{
  font-size: large;
  width: 90%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(83, 78, 158);
  color: white;
  margin: 30px;
  cursor: pointer;
}
 /* .last-divG{
  margin-left: 150px;
}  */

   