.bmo{
  min-height: calc(100vh - 220px);
  background: hsla(223, 68%, 94%, 1);
    width: 100%;
    height: 100vh;
    background-size: cover 100% 100%;
  /* background-image: url("../images/R.jpg");
    background-repeat: round;
    background-attachment: fixed;
    height: 100%;
    width: 100%; */
}
.div-container{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-content{
  border-collapse: collapse;
  margin: 0px 0;
  font-size:0.6cm;
  /* max-width: 400px; */
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
.table-content thead tr{
  background-color: rgb(83, 78, 158);
  color: #fffdff;
  text-align: left;
  /* font-weight: bold; */
}
.table-content th,
.table-content td{
  padding: 12px 15px;;
  font-size:0.6cm;
}
.table-content tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-content tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-content tbody tr:last-of-type {
  border-bottom: 2px solid rgb(83, 78, 158);
}

.table-content tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.btnDelete,
.btnUpdate{
  font-size: large;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(83, 78, 158); 
    color: rgb(251, 250, 252);
    cursor: pointer;
    /* margin: 30px; */
}
.b-con{
  display: flex;
  justify-content: center;
  
}
.btnArabic-c{
  font-size: large;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(83, 78, 158); 
    color: rgb(251, 250, 252);
    margin-top: 20px;
    margin-left: 100px;  
    cursor: pointer;
}