.g_foot{
  min-height: calc(100vh - 220px);
}
.container-g{
  font-family: arial;
  padding-top: 40px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-addBG{
  font-size: large;
  width: 20%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(83, 78, 158);
  color: white;
  margin-left: 600px;
  margin-top: 40px;
  cursor: pointer;
}

.bt-MG{
  font-size: large;
  width: 90%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(83, 78, 158);
  color: white;
  margin: 30px;
  cursor: pointer;
}
.containerBG{
   font-family: arial;
    padding-top: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.last-div-g{
  margin-left: 150px;
}
