.container{
  font-family: arial;
  padding-top: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-addBG{
  font-size: large;
  width: 20%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(83, 78, 158);
  color: white;
  /* margin-left: 600px; */
  cursor: pointer;
}

   