.btn-addBCh{
    font-size: large;
    width: 20%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(83, 78, 158);
    color: white;
    margin-left: 600px;
    cursor: pointer;
}

.btn-M{
    font-size: large;
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(83, 78, 158);
    color: white;
    margin: 30px;
    cursor: pointer;
}
.containerBCH{
    font-family: arial;
    padding-top: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last-div{
    margin-left: 150px;
}