.ch_foot{
    min-height: calc(100vh - 220px);
 /* background-image: url("../images/R.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-addBCh{
    font-size: large;
    width: 20%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(83, 78, 158);
    color: white;
    margin-left: 600px;
    margin-top: 40px;
    cursor: pointer;
}

.btn-M{
    font-size: large;
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(83, 78, 158);
    color: white;
    margin: 30px;
    cursor: pointer;
}
.containerBCH{
    font-family: arial;
    padding-top: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}
.last-div-ch{
     margin-left: 150px; 
}