.bb{
    font-size: large;
      width: 200px;
      height: 30px;
      border-radius: 20px;
      border: none;
      background-color: rgb(83, 78, 158); 
      color: rgb(251, 250, 252);
      margin-left: 188px;
      
}
.c1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.b-iss{
    display: flex;
    justify-items:center ;
    align-items: center;
    margin-left: 450px;

}