.bho{
  min-height: calc(100vh - 220px);
}
.div-C-container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .table-content-C{
    border-collapse: collapse;
    margin: 25px 0;
    font-size:0.6cm;
    /* max-width: 400px; */
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    height: 90%;
  
  }
  .table-content-C thead tr{
    background-color: rgb(83, 78, 158);
    color: #fffdff;
    text-align: left;
    /* font-weight: bold; */
  }
  .table-content-C th,
  .table-content-C td{
    padding: 12px 15px;;
    font-size:0.6cm;
  }
  .table-content-C tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .table-content-C tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .table-content-C tbody tr:last-of-type {
    border-bottom: 2px solid rgb(83, 78, 158);
  }
  
  .table-content-C tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  .btnDelete-C,
  .btnUpdate-C{
    font-size: large;
      width: 100px;
      height: 30px;
      border-radius: 20px;
      border: none;
      background-color: rgb(83, 78, 158); 
      color: rgb(251, 250, 252);
      /* margin: 30px; */
  }
  .btn-addBC{
    font-size: large;
    width: 20%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(83, 78, 158);
    color: white;
    margin-left: 600px;
    margin-top: 20px;
    cursor: pointer;
  }
