.f_foot{
   
    background-color: hsla(223, 68%, 94%, 1);
    background-size: cover ;
     min-height: calc(100vh - 0vh); 
     
}
.fo-b{
    font-size: large;
    width: 332px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(83, 78, 158); 
    color: white;
    margin: 30px;  
    cursor: pointer; 
}
.fo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 100px;
}
.f-p{
    text-align: center;
    /* margin-top: 30px; */
    /* margin: 0 auto; */
    font-size: 2cm ;
}
.btn-addBF{font-size: large;
    width: 20%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(83, 78, 158);
    color: white;
    margin-left: 600px;
    margin-top: 20px;
    cursor: pointer;}