@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root{
    --blue:#3c6382;
    --dark-blue:#0a3d62;
}

header{
    width: 1400px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 2rem;
    /* background-color: whitesmoke; */
    position: fixed;
    z-index: 1;
}

header .logo{
    object-fit: contain;
    margin-left: -70px;
    margin-top: 10px;
}


header .navbar a{
    font-size: 1.7rem;
    margin-left: .7rem;
    padding:.5rem 2rem;
    border-radius: .5rem;
    color:var(--dark-blue);
    text-decoration: none;
   
}

header .navbar a.active,
header .navbar a:hover{
    background: var(--blue);
    color:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header.sticky{
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.logoutbtn {
    font-size: 1.7rem;
    margin-left: .7rem;
    padding:.5rem 2rem;
    border-radius: .5rem;
    color:var(--dark-blue);
    text-decoration: none;
    border: none;
}

.divlogout{
    margin-left: 500px;
    margin-top: -20px;
}
/* .Newlogout{
    margin-left: 1000px;
    position: relative;
    border-radius: 20px;
    width: 130px;
    height: 40px; 
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1)

   
}  */
.Newlogout{
    font-size: 1.4rem;
    margin-left: .7rem;
    padding:.5rem 2rem;   
    color:var(--dark-blue);
    text-decoration: none;
    border-radius: 20px;
    margin-left: 1280px;
    cursor: pointer; 
    margin-right: -100px; 
    margin-top: 10px;
    background-color: hsla(223, 68%, 94%, 1);
    transition: all 0.50s;
} 

.Newlogout2{
    font-size: 1.4rem;
    margin-left: .7rem;
    padding:.5rem 2rem;   
    color:var(--dark-blue);
    text-decoration: none;
    border-radius: 20px;
    margin-left: 1130px;
    cursor: pointer; 
    margin-right: -100px; 
    margin-top: 10px;
    background-color: hsla(223, 68%, 94%, 1);
    transition: all 0.50s;
} 

.Newlogout:hover {
    background-color: rgb(83, 78, 158); 
    color: white;
  }


/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }
    
header .logo{
    width: 10%;
    color:var(--dark-blue);
}

}

@media (max-width:991px){

    /* section{
        padding:1rem 3%;
        padding-top: 8rem;
    } */
    header .logo{
        width: 10%;
        color:var(--dark-blue);
    }

    #menu{
        display: absolute;
    }

    header .navbar{
        position: absolute;
        top:100%; left: 0;
        width:100%;
        background:#fff;
        padding:2rem;
        border-top: .1rem  solid rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }

    header .navbar.nav-toggle{
        transform: scaleY(1);
        opacity: 1;
    }

    header .navbar a{
        display: block;
        margin:1.5rem 0;
        font-size: 2rem;
    }
}