.buttonArabic{
    font-size: large;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(83, 78, 158); 
    color: rgb(251, 250, 252);
    margin-top: 20px;
    margin-left: 100px;  
    cursor: pointer;
}

.buttonDelete,
.buttonUpdate{
  font-size: large;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(83, 78, 158); 
    color: rgb(251, 250, 252);
    cursor: pointer;
    /* margin: 30px; */
}