.main-div{
    padding: 15px;
    height: 100%;
    width :100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.nouran222{
    background-color: hsla(223, 68%, 94%, 1);
    width: 100%;
    height: 100vh;
    background-size: cover 100% 100%;
    /* position: relative; */
}
.header12{
    width: 100%;
    position: fixed;
    font-size: 1.4rem;
    /* top: 0%;
    right: 0%;
    left: 0%; */
}
.b-div{   
    max-width: 450px;
    max-height: 450px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.b-div button{
    margin-top: 1px;
    
}


.signadmin {
    background-color: rgb(119, 84, 245);
}
.Newborn{
    font-size: large;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(83, 78, 158);
    color: white;
    margin: 30px;
    cursor: pointer;
}