.header-title-nav-wrapper{
  display: flex;
    flex-wrap: nowrap;
    flex: 1 0 67%;
    justify-content: center;
    align-items: center;
}
.header-title-logo img {
  width: auto;
  width: 200px;
  height: 100px;
  margin-left: -1300px;
}
.header-background, .header-background::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 400ms cubic-bezier(.4,0,.2,1);
  will-change: opacity;
}
.header-display-desktop {
  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}
.header-nav-list {
  display: flex;
  gap: 20px; /* Space between nav items */
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav-item {
  display: flex;
  align-items: center;
}

.header-nav-folder-title,
.header-nav-folder-item {
  text-decoration: none;
  color: inherit;
}

.sqs-html-content {
  text-align: center;
  margin-top: 20px;
}

.sqsrte-text-color--black {
  color: black;
}

header .navbar a {
  font-size: 1.7rem;
  margin-left: .7rem;
  padding: .5rem 2rem;
  border-radius: .5rem;
  color: var(--purple);
  text-decoration: none;
}
.nouran2{
    background-image: url("./images/hero.png");
    background-size:500px;
    background-position: right;
    background-repeat: no-repeat; 
}
.log-form{
  margin-top: 10px;
 
  
}
.signadmin{
  font-size: large;
  width: 80%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(46, 49, 146); 
  color: white;
  margin: 30px;  
  cursor: pointer;
}
 
.bodyForm{
  width: 30%;
  height: 80%;
  border-radius: 20px;
 
}
.contentApp{
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url("./images/hero.png");
  background-size:100%; 
  background-repeat: no-repeat;
 
}
.output-box{
      width: 90%;
      height: 30px;
      border-color: rgb(25, 25, 25);
      border: 2px;
      border-radius:5px ;
      margin:0 20px; 
      margin-bottom: 20px;
      
    }
    .label-log{
      margin-left: 10px;
      margin-bottom: 10px;
    }
    .pp{
      margin-left: 10px;
      font-size: large;
    }